@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
}
.header{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
  background-image: linear-gradient(rgba(4,9,30,0.55), rgba(4,9,30,0.55)),url(images/banner.png);
  background-position: center;
  background-size: cover;
}
nav{
  width: 100%;
  display: flex;
  padding: 2% 3.5%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 300px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 14px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #a2a1a1;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.home-content{
  width: 70%;
  color: #fff;
  padding-bottom: 80px;
  padding-top: 20px;
  padding-left: 7.5%;
  max-width: 700px;
}
.home-content h1{
  font-size: 40px;
}
.home-content p{
  padding: 20px 0 40px;
  font-size: 17px;
  font-weight: 300;
}
.home-content .button-box{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.button-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 3px solid #a2a1a1;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
}
.button-box a::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #a2a1a1;
  padding: auto;
  z-index: -1;
}
.button-box a:hover::after{
  width: 100%;
}
.about{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.about-content{
  display: block;
  width: 85%;
  color: black;
  padding-top: 55px;
}
.about-info{
  display: flex;
}
.about-text{
  padding-left: 50px;
}
img.rounded{
  object-fit: cover;
  border-radius: 50%;
  height: 340px;
  width: 340px;
}
.about-content h1{
  font-size: 55px;
}
.about-content p{
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 40px;
}
.about-gallery{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 40px;
}
img.gallery{
  height: 300px;
  width: 300px;
  padding: 10px 10px 10px;
}
.courses{
  display: flex;
  width: 100%;
  min-height: 700px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(4,9,30,0.55), rgba(4,9,30,0.55)),url(images/banner2.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.courses-content{
  display: block;
  width: 70%;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}
.courses-content h1{
  font-size: 55px;
  padding-bottom: 30px;
}
.courses-content h2{
  font-size: 35px;
}
.courses-content h3{
  padding-bottom: 40px;
}
.courses-content p{
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 40px;
}
.courses .button-box{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
footer{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer img{
  width: 30px;
  padding: 10px 10px;
}
footer a{
  color: black;
  text-decoration: none;
}
footer p{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 10px 0 30px;
}
.contact{
  display: flex;
  justify-content: center;
}
@media(max-width: 700px){
  nav img{
      width: 150px;
      padding-right: 20px;
  }
  nav{
      padding: 10% 8%;
  }
  .home-content .button-box{
      width: 300px;
      height: 40px;
  }
  .button-box a{
      width: 130px;
      font-size: 16px;
  }
  .about-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .about-text{
      padding-left: 0;
      text-align: center;
  }
  img.rounded{
      align-self: center;
      object-fit: cover;
      border-radius: 50%;
      height: 200px;
      width: 200px;
  }
  .nav-links{
      width: 100px;
      flex: 1;
      text-align: right;
  }
  .nav-links ul li{
      display: inline-block;
  }
}